@model HomeViewModel

@await Html.PartialAsync("Carousel")

<br />
<h2>Preferred drinks of the week</h2>
<h5>Clients preferences - just for you!</h5>

<div class="row">
    @foreach (Drink drink in Model.PreferredDrinks)
    {
        @await Html.PartialAsync("PreferredDrinksSummary", drink)
    }
</div>